html {
  height: 100%;
  width: 100%;
}

/* RESET */
* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: Arial, sans-serif; background: #fff; color: #333; }

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
  background: #f8f8f8;
}
header .title { font-weight: bold; }
header .controls { display: flex; gap: 10px; align-items: center; }
header button { background: none; border: 1px solid #888; padding: 4px 8px; cursor: pointer; }

/* LAYOUT */
.container {
  display: grid;
  grid-template-columns: 1fr minmax(600px, 900px) 1fr  minmax(50px, 200px);
  height: calc(100vh - 50px);
}
.sidebar, .settings {
  border-left: 1px solid #ccc;
  padding: 12px;
  overflow-y: auto;
}

.content {
  padding: 20px;
  overflow-y: minmax(600px, 900px);
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  
}
p{
  padding: 10px;
  text-align: justify; 
}

/* BOOK CONTENT */
theorem {
  display: block;
  border: 1px solid #a26ccf;
  padding: 10px;
  margin-top: 16px;
  text-align: justify; 
  background: #f9f4ff;
}

equation{
  display: block;
  text-align: center; 
  padding: 10px;
}

demonstration {
  display: block;
  padding: 10px;
  text-align: justify; 
  
}

demonstration::before {
  content: "Demonstration: ";
  font-style: italic;
  color: #a26ccf;
  display: inline;
}

example {
  display: block;
  padding: 10px;
  text-align: justify; 
  color: #9a969c;
}

example::before {
  content: "Example: ";
  font-style: italic;
  display: inline;
}

definition {
  display: block;
  border: 1px solid #3b82f6;
  padding: 10px;
  margin-top: 16px;
  background: #eef6ff;
  text-align: justify; 
}

corollary {
  display: block;
  border: 1px solid #f0c03d;
  padding: 10px;
  margin-top: 16px;
  text-align: justify; 
  background: #fdf7e7;
}

lemma {
  display: block;
  border: 1px solid #66ef34;
  padding: 10px;
  margin-top: 16px;
  text-align: justify; 
  background: #ecf7e8;
}

/* TABLE OF CONTENTS */
.toc ul { list-style: none; }
.toc li { margin-left: 12px; }
.toc li strong { cursor: pointer; }

/* SETTINGS */
.settings h3 { margin-bottom: 10px; }
.settings label { display: block; margin: 5px 0; }
.settings button { margin: 4px; }

/* RESPONSIVE */
