:root {
	--primary-bg-color: #2f3e46;
	--secondary-bg-color: #354f52;
	--tertiary-bg-color: #52796f;
	--primary-text-color: #cad2c5;
	--secondary-text-color: #84a98c;
	--highlight-color: #ed6a5a;

	--regular-text-size: 48px;
	--big-text-size: 64px;
	--small-text-size: 36px;
	--blockquote-border-left : 15px solid var(--highlight-color);
	--blockquote-font-style : italic;
	--blockquote-padding : var(--paragraph-padding);
	--blockquote-margin : 0 200px 0 200px;

	--slide-title-padding: 40px;
	--paragraph-padding: 0px 80px 0px 80px;
	--footer-padding : 15px;


	--environment-margin: 40px 0 40px 0;

	--columns-gap : 10px;

	--drop-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
		0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
		0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);

	--tooltip-width: 850px;
	--tooltip-border-radius: 5px;
	--tooltip-padding: 25px;
}
::selection {
	background-color: var(--highlight-color); /* Highlight background color */
	color: var(--primary-bg-color); /* Highlight text color */
}

::-webkit-selection {
	background-color: var(--highlight-color); /* Highlight background color */
	color: var(--primary-bg-color); /* Highlight text color */
}

::-moz-selection {
	background-color: var(--highlight-color); /* Highlight background color */
	color: var(--primary-bg-color); /* Highlight text color */
}

@page {
	size: auto;
	margin: 0;
}

@media print {
	slide {
		position: relative !important;
		display: block !important;
		width: 100vw;
		height: 100vh; /* Set the height to match the A4 landscape height */
		page-break-after: always; /* Ensure each slide ends and starts a new page */
		box-sizing: border-box;
	}

	header {
		display: none;
	}
	body,
	html {
		margin: 0;
		padding: 0;
	}

	body .step {
		opacity: 1;
	}

	canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 100% !important;
		height: 100% !important;
	}
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	pointer-events: none;
}

body,
html {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	font: var(--regular-text-size) "Arial", sans-serif;
	background-color: var(--primary-bg-color);
	color: var(--primary-text-color);
}

header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	z-index: 9999;
}

footer {
	box-sizing: border-box;
	padding: var(--footer-padding) ;
	height: 40px;
	margin-top: -40px;
	z-index: 99;
	font-size: medium;
	width: 100%;
	background-color: var(--primary-bg-color);
}

p {
	padding: var(--paragraph-padding) !important;
	box-sizing: border-box;
	width: inherit;
}

h1,h2,h3,h4,h5,h6 {
	padding: var(--paragraph-padding)
}

strike,s,u {
	text-decoration-color: var(--highlight-color);
	text-decoration-thickness: 5px;
	animation: textDecorationColor 2s forwards;
}

blockquote {
	border-left: var(--blockquote-border-left);
	font-style: var(--blockquote-font-style);
	padding: var(--blockquote-padding);
	margin: var(--blockquote-margin);
}

hr {
	width: 90%;
	border: 3px solid var(--secondary-text-color);
}

mark {
	background-color: var(--highlight-color);
	color: var(--primary-bg-color);
	font-weight: bold;
}


slide {
	position: relative;
	display: none;
	width: 100vw;
	height: 100%;
	box-sizing: border-box;
	opacity: 1;
	transition: opacity 0.5s ease;
	flex-direction: column;
}

slide.active {
	display: flex;
	animation: fadeIn 1s forwards;
}




@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes textDecorationColor {
    from {
        text-decoration-color: rgba(255, 255, 255, 0); /* Initial transparent color */
    }
    to {
        text-decoration-color: var(--highlight-color); /* Final opaque color */
    }
}

@keyframes colorChange {
	from {
	  color: var(--highlight-color);
	}
	to {
	  color: var(--primary-text-color);
	}
  }


.step {
	opacity: 0;
	transition: opacity 0.5s ease-out;
}

.activeStep {
	transition: opacity 0.5s ease-in;
}


.hidden-overflow {
	overflow: hidden;
}

author,
institution {
	width: 90%;
	text-align: left;
	font-size: 32px;
}

.vertically-centered {
	justify-content: center !important;
	align-items: center !important;
}


.slide-title {
	background-color: var(--secondary-bg-color);
	width: 100%;
	padding: var(--slide-title-padding);
	font-size: var(--big-text-size);
	color: var(--secondary-text-color);
	box-shadow: var(--drop-shadow);
}



.tooltip {
	position: absolute;
	background-color: var(--secondary-bg-color);
	color: var(--secondary-text-color) !important;
	padding: var(--tooltip-padding);
	border-radius: var(--tooltip-border-radius);
	display: none;
	z-index: 1000; /* Ensure the tooltip is above other elements */
	pointer-events: none; /* Ensure it doesn't interfere with mouse events */
	width: var(--tooltip-width);
	font-size: var(--small-text-size);
	box-shadow: var(--drop-shadow);
}

/**************************************
* TEXT CLASSES
****************************************/

.align-right {
	text-align: right;
	justify-content: right;
}

.align-center {
	text-align: center;
	justify-content: center;
}
/**************************************************
** PROGRESS BAR
*****************************************/

.pb-container {
	height: 7px;
	background-color: var(--tertiary-bg-color);
}

.pb {
	background-color: var(--highlight-color);
	transition: width 0.5s ease-in;
}
/**************************************
* EQUATION CLASSES
****************************************/

.equation-container {
	display: flex;
	width: inherit !important;
}
.equation-content,
.MJ-TEX {
	flex: 1;
}

.equation-number {
	width: 40px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 20px; /* Optional padding for spacing */
}

eq-ref,
ref {
	color: var(--secondary-text-color);
	cursor: pointer;
	font-weight: bold;
}

/******************************************
 *
 * MATH ENVIRONMENTS
 *
 * *****************************************/



.proof {
	font-style: italic;
}

.environment {
	display: block;
	margin: var(--environment-margin);
	box-sizing: border-box;
}

.theorem,
.environment-name {
	text-transform: capitalize;
	font-weight: bold;
	color: var(--secondary-text-color);
}

.environment-title {
	font-style: italic;
}

.proof-footer {
	text-align: right;
	font-size: var(--big-text-size);
}
