body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    font-size: larger;
}

.slideTitle {
    background-color: #e0e0e0;
    width: 100%;
    margin: 0px;
    padding-top : 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 48px;
}

p {
    padding: 5ch;
}

slide {
    display: none;
    width: 100vw;
    box-sizing: border-box;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
}

slide.active {
    display: block;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.pbContainer  {
    left: 0;
    top: 0;
    position: fixed;
    width: 100vw;
    height: 5px;
    background-color: #e0e0e0;
    z-index: 999;

}


.pb {
    background-color: blueviolet;
    transition: width 0.5s ease-in;
}

/**************************************
* EQUATION CLASSES
****************************************/

.equationContainer {
    display: flex;
  }
.equationContent {
    flex: 1;
    padding: 10px;
    font-size: 48px;
  }

.equationNumber {
    width: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px; /* Optional padding for spacing */
  }