<!DOCTYPE html>
<html>
  <head>
    <title>Numbered Sections</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="Style.CSS">

    <meta charset="UTF-8">
  </head>
  <body style="--main-font: 'Times New Roman';">
    <div class="container", style="--width: 1000px; --margin-top: 50px;">
    <div class="page">
    <h1 class="unnumbered" style="text-align: center;">Introduction (Unnumbered section)</h1>
    <h1>Section 1</h1>
    <h1 class="manual-number" style="--number: 5;">A Manually Numbered Chapter/Section</h1>
    <h2>This subsection will be automatically numbered 5.1</h2>
    <p>Here is some text.</p>

    <div class="vspace"></div>
    <div class="textbf">
    <p>is some more bold text after a default space.</p>
    </div>
    </div>

    <div class="vspace" style="--size: 50px;"></div>

    <p>And more text after a 50px space.</p>
    
    <div class="vspace" style="--size: 3cm;"></div>

    <p class="textcenter">Finally, some text after a 3cm space and aligned centrally.</p>
    <ul>
      <li> Item 1 </li>
      <li> Item 2 </li>
    </ul>
    <p> Now, an ordered list: </p>
    <ol>
      <li> Item 1 </li>
      <li> Item 2 </li>
    </ol>
    <div class="box" style="background-color: black; padding: 30px; color: white; border-radius: 35px; border-width: 5px; border-color: aqua;">
    <h2>This is a black box</h2>
    <p>The text inside is white to make it readable. This box has padding, margins, and rounded corners.</p>
    </div>

    <div class="box" style="background-color:aliceblue;">
    <h2>saa</h2>
    <p>This provides a subtle way to group content.</p>
    </div>
  </body>
</html>