<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Mathematical Paper</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap" rel="stylesheet">
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>
   <link rel="stylesheet" href="rodrigo_ribeiro.css">
</head>
<body>

    <main class="paper-content">

        <h1>Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida sem in tincidunt dapibus. Nulla facilisi. Aliquam aliquet mauris quis venenatis congue. Etiam consequat lacus mi, at luctus odio egestas id. In semper nunc eget porttitor rhoncus. Maecenas mattis sed orci sed ultricies. Quisque mattis, lacus condimentum egestas viverra, diam justo porttitor mauris, non viverra est leo nec ante. Proin eu fermentum erat. Ut ultricies vulputate gravida. Proin fringilla neque at dictum lobortis. Duis finibus augue vel felis tristique, sit amet laoreet eros condimentum. Proin rhoncus finibus dui molestie mollis. Aliquam sit amet nisl in mi viverra lobortis ut vitae ipsum. Morbi ac augue imperdiet, sagittis mi id, ornare turpis.</p>

        <definition>
            <title>Definition 1.1 (Sit Amet)</title>
            <p>
          Nam cursus <b>ante eget maximus</b> rutrum. Ut ac maximus sapien. Donec maximus nibh quis massa mollis mollis. Aliquam pulvinar hendrerit malesuada. 
            
          $$
            \int_\Omega X(\omega){\rm d}\mu(\omega) = 1 
          $$

          Aenean luctus tempor enim in sagittis. Etiam ipsum lectus, gravida vel aliquet ut, euismod ac eros. Maecenas orci mi, iaculis nec sapien non, dapibus pharetra turpis.
        </p>
        </definition>
 <h2>Integer vitae urna finibus</h2>

        <theorem>
            <title>Theorem 2.1 (The Convergence Theorem)</title>
            <p>Integer vitae urna finibus, commodo dui vitae, vehicula nunc. Suspendisse  $K_1 \cap K_2 = \emptyset$ a cursus risus, sed finibus nunc. Sed vel magna rhoncus, varius risus fringilla, dignissim ante. Quisque orci leo, porta vitae justo vitae, porta consectetur est. 
      
                $$
                  cov(X,Y) = \frac{E\left[(X-\mu_X)(Y-\mu_Y) \right]}{\sigma_X\sigma_y}
                $$
          In eget massa velit. Nam malesuada viverra turpis nec tincidunt. Nunc sed arcu neque. Nullam mi nulla, vehicula non enim et, molestie auctor velit. Curabitur rhoncus finibus turpis, porta sagittis tortor pulvinar eu. Etiam consequat tincidunt eros, at tempus sem sollicitudin vel.</p>
        </theorem>
        
        <proof>
            <prooftitle>Proof.</prooftitle>
            <p>Duis augue justo, rhoncus id orci eget, dignissim vulputate lectus. Pellentesque imperdiet gravida condimentum. Fusce sodales commodo felis, ac dignissim ipsum rhoncus eget. Pellentesque ultricies odio a purus ultrices, non placerat nisi consectetur. Fusce sagittis finibus vulputate. In malesuada sem sed risus euismod pharetra. Donec tristique porttitor massa congue vulputate. Nulla facilisi. Ut vitae ligula viverra, suscipit massa quis, bibendum nisl. Nullam feugiat dolor sed lectus dictum, non malesuada velit tristique. Nullam sollicitudin ante quis mauris varius placerat. Morbi vitae nisi vel nibh gravida gravida. Donec sollicitudin in nunc id luctus.
        $$
                v^T\cdot u = [v_1 v_2 \dots v_n] \cdot \begin{bmatrix}u_1 \\ u_2 \\ \vdots \\ u_n \end{bmatrix}
        $$

Quisque elementum imperdiet elit quis rutrum. Cras imperdiet rutrum consequat. Proin lobortis finibus nulla, suscipit volutpat diam porttitor at. Nam accumsan mollis porta. Nam consequat sem elit, a porttitor urna elementum eu. Vestibulum viverra finibus orci, sed euismod orci iaculis et. Suspendisse nec nisl lobortis, commodo est ut, tristique ipsum. Quisque posuere nibh tempus ante egestas, et porttitor dolor malesuada. Nullam nec dictum arcu. Nunc tempor elit eleifend, rhoncus orci in, tincidunt elit. In scelerisque interdum lacus, et sodales augue scelerisque quis.

\[
M=
  \begin{bmatrix}
    1 & 2 & 3 & 4 & 5 \\
    3 & 4 & 5 & 6 & 7
  \end{bmatrix}
\]

Sed ipsum erat, interdum id ipsum ut, maximus hendrerit ligula. Fusce ut gravida nibh. Sed dignissim urna metus, quis tempus quam faucibus vitae. Duis sed nunc quam. Etiam finibus posuere rutrum. Donec eget mi sit amet arcu consectetur condimentum quis ut eros. Ut vehicula scelerisque mauris at bibendum. Donec ac fringilla orci, non lobortis urna. Integer molestie id purus sit amet dapibus. Nam gravida aliquam mi, quis gravida justo condimentum ac.

Sed posuere sem quis purus dapibus tincidunt. Proin pharetra leo eget eros scelerisque sodales. Sed eu suscipit neque. Etiam nunc eros, convallis quis fringilla interdum, venenatis a risus. Morbi in venenatis lectus, eget dapibus ante. Nam euismod ante nec dapibus iaculis. Suspendisse eu ultrices augue, at sodales neque. Maecenas quis efficitur nulla, non pulvinar urna. Pellentesque aliquam ex non ipsum tincidunt, at condimentum eros hendrerit. Donec efficitur mauris libero, porttitor aliquam orci dignissim laoreet. Morbi luctus lobortis enim vitae porta. Praesent ac faucibus lacus, quis blandit purus. Phasellus pretium placerat libero eget efficitur. Fusce egestas arcu sem, id</p>
            <qed>■</qed>
        </proof>

        <proposition>
            <title>Proposition 2.2</title>
            <p>Suspendisse nec nisl lobortis, commodo est ut, tristique ipsum. Quisque posuere nibh tempus ante egestas, et porttitor dolor malesuada. Nullam nec dictum arcu. Nunc tempor elit eleifend, rhoncus orci in, tincidunt elit.</p>
        </proposition>

      <center>
        $$
        T=
  \begin{bmatrix}
       a & b \\
        c& d
  \end{bmatrix}
        $$
      <linear-transformation></linear-transformation>

      </center>
    </main>
<script>
MathJax = {
  tex: {
    inlineMath: {'[+]': [['$', '$']]}
  },
  svg: {
    fontCache: 'global'
  }
};
</script>

    <script src="linear_transformation.js"></script>

</body>
</html>
