<dlt-page>
    <dlt-section title="Lorem Ipsum">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam facilisis sed mauris et volutpat. 
        Fusce rutrum cursus enim vitae interdum. Nunc rhoncus laoreet dolor, et egestas purus pharetra eget. 
        Praesent viverra, justo vel pulvinar viverra, magna nibh efficitur magna, eget sagittis eros mauris nec nulla. 
        In ut rhoncus leo. In tempus hendrerit ante eget dapibus. Nam volutpat diam urna, nec vulputate ex dictum fermentum.

        In ut rhoncus lectus, ut euismod sapien. Donec blandit elit ut tincidunt semper. Nulla elementum vel mauris sed vestibulum. 
        Nunc sit amet ante nulla. Donec eleifend tristique risus, et tincidunt ipsum lacinia quis. Etiam et ullamcorper lacus. 
        Aliquam urna sapien, mollis quis quam vel, posuere placerat arcu. Nulla massa enim, vestibulum sit amet vulputate ut, porta sit amet turpis. 
        Fusce eu felis at diam blandit eleifend. Vivamus vel diam in felis luctus iaculis.
            
        <dlt-statement type="Theorem" title="Dolor Sit Amet">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam facilisis sed mauris et volutpat. 
            Fusce rutrum cursus enim vitae interdum. Nunc rhoncus laoreet dolor, et egestas purus pharetra eget. 
            Praesent viverra, justo vel pulvinar viverra, magna nibh efficitur magna, eget sagittis eros mauris nec nulla. 
            In ut rhoncus leo. In tempus hendrerit ante eget dapibus. Nam volutpat diam urna, nec vulputate ex dictum fermentum.
        </dlt-statement>
    </dlt-section>
</dlt-page>
<dlt-page>
    <dlt-section title="Consectetur Adipiscing Elit">
        Pellentesque sed quam cursus, porttitor mauris eu, varius dui. Nullam pellentesque egestas imperdiet. 
        Quisque a volutpat lectus, nec feugiat augue. Fusce sapien tellus, semper nec est ac, lacinia suscipit velit. 
        Nulla eros nisi, porta quis dolor non, sollicitudin euismod ante. Vivamus auctor ex dui, vel convallis ante venenatis in. 
        Integer eget massa id eros venenatis vestibulum id vel sem. Duis nec erat at felis porta faucibus vel nec leo. 
        Curabitur a mauris ex. Ut non mi non diam tempus imperdiet id ac arcu. Nunc a elit vel nisl bibendum ultrices. 
        Ut vel congue leo, venenatis gravida eros. Donec quis risus orci. Sed et odio ut nulla finibus tincidunt. 
        Ut vel sapien sapien.

        Vestibulum eu neque lobortis, pretium est at, rhoncus lacus. Quisque commodo sollicitudin arcu eleifend semper. 
        Phasellus maximus sit amet massa iaculis aliquam. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
        In ac lacus quis orci varius porta. Aliquam vehicula convallis laoreet. Donec eleifend nisl id ex faucibus euismod. 
        Curabitur at iaculis dolor, et sollicitudin odio. In vitae dui purus.
    </dlt-section>
    <dlt-section title="Etiam Facilisis">
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Duis ex sapien, dignissim at nibh nec, accumsan facilisis metus. 
        Maecenas auctor eget tellus vitae tincidunt. Donec facilisis nisl nec orci varius sagittis. 
        Nulla finibus, nisi quis pulvinar sagittis, justo lectus rutrum urna, nec bibendum nisl risus sit amet velit. 
        Nullam in est eget est vulputate placerat. Integer feugiat blandit quam, et euismod mauris auctor ac. 
        Proin tristique rutrum dolor eu euismod. Praesent nec blandit orci, vitae ornare ligula.
    </dlt-section>
</dlt-page>