body {
  margin: 0;
  background-color: #dbdbdb;
  display: flex;
  font-family: "Inter", "serif";
  min-height: 100vh;
  flex-direction: column;
}

main {
  display: flex;
}

#content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#content-header {
  background-color: rgb(243, 243, 243);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  width: inherit;
  box-sizing: border-box;
  height: 10vh;
  padding: 16px 32px;
}

#main-content {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: baseline;
  border-radius: 30px;
  padding: 5% 10%;
  flex-direction: column;
}

footer {
  background-color: rgb(243, 243, 243);
  height: 10vh;
  border-radius: 30px;
  padding: 16px;
  display: flex;
  align-items: center;
}

nav {
  background-color: #ccc4af;
  float: left;
  border-radius: 30px;
  min-width: 20%;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

#search-icon {
  height: 20px;
}

#nav-bar-icon {
  cursor: pointer;
}

#nav-bar-icon-wrapper {
  display: flex;
  flex-direction: row-reverse;
}

#icon-wrapper {
  align-self: flex-end;
}

#nav-bar-icon img {
  width: 24px;
}

nav ul {
  list-style: none;
  padding: 0 8px;
}

nav li {
  padding: 4px;
}

p {
  text-align: justify;
  font-size: large;
  line-height: 1.5;
}