/* Level flag: A small circle on the right */
.block-header.with-level {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.level-tag {
    padding: 0.6rem;
    border-radius: 50%;
}

.level-tag > .level-text {
    display: none;
}

.level-easy {
  background-color: var(--dft-green);
  color: var(--white);
}

.level-medium {
  background-color: var(--dft-yellow);
}

.level-hard {
  background-color: var(--dft-red);
  color: var(--white);
}

/* General */
delta-theorem, delta-proof, delta-conjecture, delta-claim, delta-exercise, delta-example, delta-lemma, delta-proposition {
    display: block;
    margin: 1.5rem 0;
    background: var(--white);
    border-radius: 9px;
    /* box-shadow: 0 2px 6px rgba(0,0,0,0.1); */
    padding: 0 1.5rem 1px 1.5rem;
    text-align: justify; 
}

delta-theorem, delta-conjecture, delta-claim, delta-lemma, delta-proposition, delta-corollary, delta-definition {
    border-left: 0.5rem solid;
}

/* Theorem */
delta-theorem {
    border-color: var(--dft-purple);  
    padding-top:0.75em;
    padding-bottom:0.75em;    
}

delta-theorem .block-header {
    background: var(--white);
    color: var(--text-default);
    padding-left: 1.5rem;
    font-weight: bold;
    /* font-size: 1.1rem; */
    text-transform: capitalize;
    /* letter-spacing: 0.5px; */
    margin: 0 -1.5rem -0.5rem -1.5rem; 
    display: inline-block;
}

delta-theorem[simple] .block-header {
    margin-right: 0.5rem;
}

delta-theorem > p:first-of-type {
    display: inline;
    padding-left: 30px;
    line-height: inherit;
    text-align: justify;
}

delta-theorem .with-level ~ p:first-of-type {
    display: block;
    padding-left: 0;
}

/* Proof */
delta-proof .block-header {
    color: var(--text-default);
    font-weight: normal;
    font-style: italic;
    text-transform: capitalize;
    font-size: inherit;
    padding: 0 1.5rem 1px 1.5rem;
    margin: 0 -2.5rem 0 -1.5rem; 
    display: inline-block;
}

delta-proof > p:first-of-type {
    display: inline;
    padding-left: 30px;
    line-height: inherit;
    text-align: justify;
}

delta-proof > p:last-child {
    margin-bottom: 0;
}

delta-proof delta-step:first-of-type .step-content {
  margin-top: 1em;
}

/* Add QED symbol to proofs */
delta-proof::after {
    content: "∎";
    display: block;
    text-align: right;
    font-weight: bold;
    margin-top: 0.3rem;
    color: black;
}

delta-exercise .block-header, delta-example .block-header {
    color:var(--gray);
    padding: 0 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    margin: 0 -1.5rem -0.5rem -1.5rem; 
    border-top-right-radius: 6px;
}

delta-exercise {
    padding-left: 0; /* keep the text aligned with the page */
}

/* Example */

/* Definition */
delta-definition {
    display: block;
    margin: 1.5rem 0;
    border-radius: 9px;
    /* box-shadow: 0 2px 6px rgba(0,0,0,0.1); */
    border-color: var(--dft-cyan);  
    padding: 0 1.5rem 1px 1.5rem;
    text-align: justify;     
    padding-top:0.75em;
    padding-bottom:0.75em;
}

delta-definition .block-header {
    padding-left: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    margin: 0 -1.5rem 0 -1.5rem; 
    border-radius: 9px;
    display: inline-block;
}

delta-definition[simple] .block-header {
    margin-right: 0.5rem;
}

delta-definition > p{
    display: inline;
    padding-left: 30px;
    line-height: 1.4;
    text-align: justify;
}

delta-definition >.block-content {
    padding: 1rem 1.5rem;
    line-height: 1.8;
}

delta-lemma {
    display: block;
    margin: 1.5rem 0;
    border-radius: 9px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border-color: var(--dft-navy);
    padding: 0 1.5rem 1px 1.5rem;
    text-align: justify;   
    padding-top:0.75em;
    padding-bottom:0.75em;    
}

delta-lemma .block-header {
    padding-left: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    margin: 0 -1.5rem 0 -1.5rem; 
    border-radius: 9px;
    display: inline-block;
}

delta-proposition {
    display: block;
    margin: 1.5rem 0;
    border-radius: 9px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border-color: var(--dft-navy);
    padding: 0 1.5rem 1px 1.5rem;
    text-align: justify;   
    padding-top:0.75em;
    padding-bottom:0.75em;    
}

delta-proposition .block-header {
    padding-left: 1.5rem;
    font-weight: bold;
    font-size: 0.9rem;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    margin: 0 -1.5rem 0 -1.5rem; 
    border-radius: 9px;
    display: inline-block;
}
