delta-plot {
	display: block;
	position: relative;
	width: auto;
	height: 0;
}

delta-plot-content {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: transparent;
	padding: 0%;
	border-radius: 1%;
	box-sizing: border-box;
}

.delta-plot-svg {
	width: 100%;
	height: 100%;
}

/* CSS da Legenda - Relativo as unidades do SVG, então não devo ligar pra esses px */
.legend-toggle-btn {
  position: absolute;
  top: 2px;
  right: 15px;
  z-index: 10;
  width: 18px;
  height: 18px;
  padding: 0;
  opacity: 0.3;
  cursor: pointer;
  border: none;
  background: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.1s ease;
}

.legend-drag-handle {
	position: absolute;
	bottom: 2px;
	right: 15px;
	width: 18px;
	height: 18px;
	padding: 0;
	border: none;
	background: none;
	cursor: move;
	opacity: 0.3;
}

.legend-toggle-btn:hover {
  opacity: 1;
}

.legend-drag-handle:hover {
  opacity: 1;
}

.legend-toggle-btn:active {
  transform: scale(0.9);
}

.legend-drag-handle:active {
  transform: scale(0.9);
}

.legend-toggle-icon {
  width: 100%;
  height: 100%;
  display: block;
}

.legend-toggle-circle {
  transition: fill 0.2s ease;
}

.legend-toggle-circle--filled {
  fill: black;
  stroke: none;
}

.legend-toggle-circle--outlined {
  fill: none;
  stroke: black;
  stroke-width: 2;
}