:root {
  --primary-bg-color: #2f3e46;
  --secondary-bg-color: #354f52;
  --tertiary-bg-color: #52796f;
  --primary-text-color: #cad2c5;
  --secondary-text-color: #84a98c;
  --highlight-color: #ed6a5a;
  --primary-border-color: #fff;

  --regular-text-size: 36px;
  --big-text-size: 48px;
  --small-text-size: 28px;
  --slide-body-padding: 80px 80px 0px 80px;

  --drop-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);

  --blockquote-border-left: 15px solid var(--highlight-color);
  --blockquote-font-style: italic;
  --blockquote-padding: var(--slide-body-padding);
  --blockquote-margin: 0 200px 0 200px;

  --slide-title-padding: 40px;

  --footer-padding: 15px;

  --paragraph-margin-bottom: 20px;

  --list-item-margin: 80px 0px 0px 0px;

  --link-decoration: none var(--highlight-color);
  --link-bg-color: var(--highlight-color);

  --ref-text-color: var(--secondary-text-color);

  --rounded-border: 5px;
  --thick-border: 15px solid;

  --img-border-color: #fff;
  --img-border: 0;
  --img-border-radius: 0;
  --img-drop-shadow: var(--drop-shadow);

  --environment-name-text-color: var(--secondary-text-color);
  --environment-name-font-weight: bold;
  --environment-margin: 40px 0 40px 0;
  --environment-title-text-color: var(--secondary-text-color);
  --environment-title-font-style: italic;

  --columns-gap: 10px;

  --tooltip-width: 850px;
  --tooltip-border-radius: 5px;
  --tooltip-padding: 25px;
}
::selection {
  background-color: var(--highlight-color); /* Highlight background color */
  color: var(--primary-bg-color); /* Highlight text color */
}

::-webkit-selection {
  background-color: var(--highlight-color); /* Highlight background color */
  color: var(--primary-bg-color); /* Highlight text color */
}

::-moz-selection {
  background-color: var(--highlight-color); /* Highlight background color */
  color: var(--primary-bg-color); /* Highlight text color */
}

@page {
  size: auto landscape;
  margin: 0;
}

@media print {
  slide {
    position: relative;
    width: 100vw;
    height: 100%;
    box-sizing: border-box;
    opacity: 1;
    flex-direction: column;
    display: flex !important;
    page-break-after: always; /* Ensure each slide ends and starts a new page */
  }

  header,
  footer {
    display: none;
  }

  body .step {
    opacity: 1;
  }

  .slide-title {
    background-color: var(--secondary-bg-color);
    width: 100%;
    padding: var(--slide-title-padding);
    font-size: var(--big-text-size);
    color: var(--secondary-text-color);
    box-shadow: var(--drop-shadow);
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font:
    var(--regular-text-size) "Arial",
    sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 9999;
}

footer {
  box-sizing: border-box;
  padding: var(--footer-padding);
  height: 40px;
  margin-top: -40px;
  z-index: 99;
  font-size: medium;
  width: 100%;
  background-color: var(--primary-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: var(--paragraph-padding);
}

strike,
s,
u {
  text-decoration-color: var(--highlight-color);
  text-decoration-thickness: 5px;
  animation: textDecorationColor 2s forwards;
}

blockquote {
  border-left: var(--blockquote-border-left);
  font-style: var(--blockquote-font-style);
  padding: var(--blockquote-padding);
  margin: var(--blockquote-margin);
}
author {
  display: block;
  margin-top: 30px;
}
institution {
  font-size: var(--small-text-size) !important;
  display: block;
  font-style: italic;
}
blockquote > author {
  display: block;
  width: inherit;
  text-align: right;
}

hr {
  width: 100%;
  border: 3px solid var(--secondary-text-color);
}

mark {
  background-color: var(--highlight-color);
  color: var(--primary-bg-color);
  font-weight: bold;
}

li {
  margin: var(--list-item-margin);
}

p {
  margin-bottom: var(--paragraph-margin-bottom);
}

a,
a:link,
a:visited {
  color: var(--primary-text-color);
  text-decoration: var(--link-decoration);
  cursor: pointer;
}

a:hover {
  background-color: var(--link-bg-color);
}

img {
  border: var(--img-border);
  border-radius: var(--img-border-radius);
}

slide {
  position: relative;
  display: none;
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 0.5s ease;
  flex-direction: column;
}

slide.active {
  display: flex;
  animation: fadeIn 1s forwards;
}

slide > title,
slide > h1 {
  display: block;
  box-sizing: border-box;
  background-color: var(--secondary-bg-color);
  width: 100%;
  margin-top: 0;
  padding: var(--slide-title-padding) !important;
  font-size: var(--big-text-size);
  color: var(--secondary-text-color);
  box-shadow: var(--drop-shadow);
}

slide > content {
  padding: var(--slide-body-padding);
  width: inherit;
  box-sizing: border-box;
}

.section-intro {
  align-items: center;
  justify-content: center;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes textDecorationColor {
  from {
    text-decoration-color: rgba(
      255,
      255,
      255,
      0
    ); /* Initial transparent color */
  }
  to {
    text-decoration-color: var(--highlight-color); /* Final opaque color */
  }
}

@keyframes colorChange {
  from {
    color: var(--highlight-color);
  }
  to {
    color: var(--primary-text-color);
  }
}

.step {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.activeStep {
  transition: opacity 0.5s ease-in;
}

.hidden-overflow {
  overflow: hidden;
}

author,
institution {
  width: 90%;
  text-align: left;
  font-size: 32px;
}

.vertically-centered {
  justify-content: center !important;
  align-items: center !important;
}

.caption-container {
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.tooltip {
  position: absolute;
  background-color: var(--secondary-bg-color);
  color: var(--secondary-text-color) !important;
  padding: var(--tooltip-padding);
  border-radius: var(--tooltip-border-radius);
  display: none;
  z-index: 1000; /* Ensure the tooltip is above other elements */
  pointer-events: none; /* Ensure it doesn't interfere with mouse events */
  width: var(--tooltip-width);
  font-size: var(--small-text-size);
  box-shadow: var(--drop-shadow);
}

/*******************************************
 *
 * GENERAL CLASSES
 *
 * ****************************************/

.rounded {
  border-radius: var(--rounded-border);
}

.thick-border {
  border: var(--thick-border);
}

.drop-shadow {
  box-shadow: var(--drop-shadow);
}

/**************************************
* TEXT CLASSES
****************************************/

.align-right {
  text-align: right;
  justify-content: right;
}

.align-center {
  text-align: center;
  justify-content: center;
}
/**************************************************
** PROGRESS BAR
*****************************************/

.pb-container {
  height: 7px;
  background-color: var(--tertiary-bg-color);
}

.pb {
  background-color: var(--highlight-color);
  transition: width 0.5s ease-in;
}
/**************************************
* EQUATION CLASSES
****************************************/

.equation-container {
  display: flex;
  width: inherit !important;
}
.equation-content,
.MJ-TEX {
  flex: 1;
}

.equation-number {
  width: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px; /* Optional padding for spacing */
}

.ref {
  color: var(--ref-text-color);
  cursor: pointer;
  font-weight: bold;
  text-transform: capitalize;
}

/*********************************************
 *
 * GENERAL ENVIRONMENTS
 *
 * *********************************************/

.img-wrapper {
  text-align: center;
  justify-content: center;
}

figure > fig-caption {
  display: block;
  font-style: italic !important;
  text-align: center;
  padding: 10px;
  font-size: var(--small-text-size);
  box-sizing: border-box;
}

.figure-name {
  font-weight: bold;
}

/******************************************
 *
 * MATH ENVIRONMENTS
 *
 * *****************************************/

.proof {
  font-style: italic;
}

.environment {
  display: block;
  margin: var(--environment-margin);
  box-sizing: border-box;
}

.theorem,
.environment-name {
  text-transform: capitalize;
  font-weight: bold;
  color: var(--environment-name-text-color);
}

.environment-title {
  font-style: italic;
  color: var(--environment-title-text-color);
}

.proof-footer {
  text-align: right;
  font-size: var(--big-text-size);
}
